<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
  <b>Description:</b>
  <%= @project.description %>
</p>


<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Content</th>
    <th>Deadline</th>
    <th>Closed</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<%= render @project.tasks %>
</table>

<%= link_to 'Add a new task', new_project_task_path(@project.id) %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
